.account {
   padding-top: 40px;
   padding-bottom: 120px;
}
.account_avatar {
   width: 300px;
   height: 300px;
   border-radius: 50%;
   object-fit: cover;
   border: 2px solid #000;
}
.account_name {
   margin-top: 10px;
   font-size: 32px;
   font-weight: 500;
   text-transform: capitalize;
}
.account_logout {
   font-weight: 400;
   padding: 15px;
   color: brown;
}
