.account {
   padding: 120px 0;
}
.account_name {
   font-size: 32px;
   font-weight: 600;
   text-transform: capitalize;
}
.account_logout {
   font-weight: 400;
   padding: 15px;
   color: brown;
}
