.catalog {
   padding-bottom: 120px;
}

/* filters */
/* .catalog_filters {
   width: 100%;
   display: flex;
   align-items: center;
   gap: 30px;
}
.catalog_filter_title {
   font-family: "buyan";
   font-size: 30px;
   font-weight: 600;
}
.catalog_filter {
   font-family: "buyan";
   font-size: 20px;
   color: var(--bg-color);
   padding: 5px 20px;
   background-color: var(--text-color);
} */
