@import url(../font/font.css);
* {
   margin: 0;
   padding: 0;
   border: none;
   text-decoration: none;
   box-sizing: border-box;
   font-family: "eastman", serif;
   letter-spacing: 0.3px;
   font-weight: 300;
   font-size: 16px;
   line-height: 1;
   color: #000;
}
body::-webkit-scrollbar {
   display: none;
}
html {
   height: 100%;
}
body {
   width: 100%;
   height: 100%;
   display: grid;
   grid-template-rows: auto 1fr auto;
}
.container {
   margin: 0 auto;
   padding: 0 5px;
   width: 100%;
   max-width: 1200px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}
a,
button {
   cursor: pointer;
}

/* header */
header {
   position: sticky;
   top: 0;
   transition: 0.3s;
   background-color: #fff;
}
.header_hidden {
   transform: translateY(-100%);
}
header .container {
   padding: 15px 0;
   flex-direction: row;
   border-bottom: #000 solid 1px;
}
.left:has(.header_nav),
.right:has(.header_nav) {
   width: 350px;
}
.right:has(.header_nav) {
   display: flex;
   justify-content: end;
}
.header_nav {
   width: fit-content;
   display: flex;
   column-gap: 20px;
   justify-content: space-between;
}
.header_link {
   text-transform: uppercase;
   font-size: 20px;
}
.header_link:hover {
   color: steelblue;
}
.header_logo {
   position: relative;
   font-size: 40px;
   font-family: "intro";
   text-transform: uppercase;
}

/* footer */
footer {
   padding: 40px 0 60px 0;
}
footer .container {
   row-gap: 40px;
}
.footer_subscribe {
   width: 600px;
   border-bottom: #000 solid 1px;
   display: flex;
   justify-content: space-between;
}
.footer_subscribe input {
   padding: 10px;
}
.footer_subscribe #email {
   width: 100%;
   outline: none;
}
.footer_subscribe #submit {
   cursor: pointer;
   padding: 0 25px;
}
.footer_subscribe #submit:hover {
   background-color: steelblue;
   color: white;
   transition: 0.2s ease-in-out;
}
.footer_links {
   display: flex;
   align-items: center;
   column-gap: 30px;
   text-transform: uppercase;
}
.footer_link:hover {
   color: steelblue;
}
.footer_copyright {
   font-size: 12px;
}
