@media only screen and (max-width: 899px) {
   header {
      background-color: white;
   }
   /* burger */
   .left:has(.header_nav) {
      display: none;
   }
   .right:has(.header_nav) {
      display: none;
   }
   .header_burger {
      display: flex;
      cursor: pointer;
   }
   .header_burger.active .burger_bar:nth-child(2) {
      opacity: 0;
   }

   .header_burger.active .burger_bar:nth-child(1) {
      transform: translateY(9.5px) rotate(45deg);
   }

   .header_burger.active .burger_bar:nth-child(3) {
      transform: translateY(-9.5px) rotate(-45deg);
   }
   .header_mobile_nav.active {
      display: flex;
   }

   /* search */
   .header_link {
      width: 100%;
      margin: 5px 0;
      text-align: center;
   }
   .container:has(.search_content) {
      top: 245px;
   }
   .search_content {
      margin: 10px;
      max-width: 95vw;
   }
}

@media only screen and (max-width: 1439px) {
   .cart .container {
      flex-direction: column;
      align-items: center;
      row-gap: 10px;
   }
   .cart_payment {
      width: 100%;
      max-width: 1000px;
      position: relative;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   .cart_data {
      padding: 0 10px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, auto) 1fr auto;
      place-items: center;
   }
   .cart_payment_title {
      padding-bottom: 0;
      padding-right: 30px;
      font-size: 18px;
      font-weight: 500;
   }
   .cart_payment_box {
      grid-column: span 1;
      display: flex;
   }
   .cart_payment_sub,
   .cart_payment_total {
      padding-right: 10px;
   }
   .cart_payment_box + .cart_payment_box {
      padding-top: 0px;
      padding-left: 30px;
   }
   .cart_payment_line {
      visibility: hidden;
      grid-column: span 1;
   }
   .cart_payment #submit {
      margin: 0;
      padding: 10px 20px;
      width: fit-content;
   }
}
