/* cards */
.productCard {
   padding-bottom: 120px;
}
.productCard .container {
   flex-direction: row;
   justify-content: center;
   gap: 20px;
}
.productCard img {
   width: 560px;
   height: 700px;
   object-fit: cover;
}

.productCard_info {
   display: flex;
   flex-direction: column;
   row-gap: 10px;
}
.productCard_div {
   display: flex;
   align-items: center;
   padding-bottom: 10px;
}
.productCard_title {
   font-size: 40px;
   font-weight: 600;
   text-transform: uppercase;
}
.productCard_like {
   margin-left: 10px;
   width: 32px;
   height: 32px;
   background-image: url("../img/layout/unliked_dark.png");
   background-size: 95% 90%;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   transition: 0.1s ease-in-out;
}
.productCard_like:hover {
   transform: scale(105%);
}
/* nums */
.productCard_nums {
   display: flex;
   column-gap: 5px;
   align-items: end;
   padding-bottom: 20px;
}
.productCard_price {
   font-weight: 500;
   font-size: 24px;
}
.productCard_price_crossed {
   font-weight: 300;
   color: gray;
   text-decoration: line-through;
}
.productCard_discount {
   font-weight: 500;
   color: steelblue;
   font-size: 24px;
}
.productCard_ids {
   display: flex;
   align-items: center;
   gap: 20px;
   padding-bottom: 10px;
}
.productCard_category span,
.productCard_collection span {
   color: gray;
   line-height: 1.5;
}
.productCard_description {
   line-height: 1.5;
   max-width: 600px;
   width: 100%;
}
.productCard_btns {
   margin-top: 20px;
   display: flex;
   max-width: 600px;
   width: 100%;
}
.productCard_link {
   padding: 15px;
   display: flex;
   justify-content: center;
   flex-grow: 1;
   color: white;
   font-size: 18px;
   text-transform: uppercase;
   background-color: steelblue;
   background-size: 200px 200px;
   background-image: url(/assets//img/layout/texture.png);
   transition: 0.2s ease-in-out;
}
.productCard_link + .productCard_link {
   border-left: 1px solid #aaa;
}
.productCard_link:hover {
   background-color: steelblue;
   color: white;
   background-image: none;
}
