@font-face {
   font-family: "open-sans";
   src: url("OpenSans-Light.ttf");
   font-weight: 300;
}
@font-face {
   font-family: "open-sans";
   src: url("OpenSans-Regular.ttf");
   font-weight: 400;
}
@font-face {
   font-family: "open-sans";
   src: url("OpenSans-Medium.ttf");
   font-weight: 500;
}
@font-face {
   font-family: "open-sans";
   src: url("OpenSans-Bold.ttf");
   font-weight: 600;
}
@font-face {
   font-family: "open-sans";
   src: url("OpenSans-Black.ttf");
   font-weight: 700;
}

@font-face {
   font-family: "intro";
   src: url("Intro.otf");
}
