@font-face {
   font-family: "eastman";
   src: url("Eastman-Thin.woff");
   font-weight: 100;
}
@font-face {
   font-family: "eastman";
   src: url("Eastman-Extralight.woff");
   font-weight: 200;
}
@font-face {
   font-family: "eastman";
   src: url("Eastman-Light.woff");
   font-weight: 300;
}
@font-face {
   font-family: "eastman";
   src: url("Eastman-Regular.woff");
   font-weight: 400;
}
@font-face {
   font-family: "eastman";
   src: url("Eastman-Medium.woff");
   font-weight: 500;
}
@font-face {
   font-family: "eastman";
   src: url("Eastman-Bold.woff");
   font-weight: 600;
}
@font-face {
   font-family: "eastman";
   src: url("Eastman-Black.woff");
   font-weight: 700;
}

@font-face {
   font-family: "buyan";
   src: url("BuyanThin.ttf");
   font-weight: 200;
}
@font-face {
   font-family: "buyan";
   src: url("BuyanRegular.ttf");
   font-weight: 400;
}
@font-face {
   font-family: "buyan";
   src: url("BuyanBold.ttf");
   font-weight: 600;
}

@font-face {
   font-family: "retro";
   src: url("posteretro.ttf");
   font-weight: 400;
}
