<footer>
   <div class="container">
      <form action="" method="post" class="footer_subscribe">
         <input type="email" name="email" id="email" placeholder="10% discount on our products" />
         <input type="submit" id="submit" value="Subscribe to mailing" />
      </form>
      <div class="footer_links">
         <a href="/contact" class="footer_link">Contacts</a>
         <a href="/delivery" class="footer_link">Delivery</a>
         <a href="/return" class="footer_link">Return</a>
         <a href="/terms_conditions" class="footer_link">Terms and conditions</a>
         <a href="/privacy_policy" class="footer_link">Privacy policy</a>
      </div>
      <p class="footer_copyright">&copy;
         <span id="year"></span> NO CAP | defersye
      </p>
      <script>document.getElementById('year').innerHTML = new Date().getFullYear();</script>
   </div>
</footer>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/cart.js"></script>
<script src="assets/js/subscribe.js"></script>