<footer>
   <div class="container">
      <form action="" method="post" class="footer_subscribe">
         <input type="email" name="email" id="email" placeholder="Подпишитесь на скидку 10% на наши продукты" />
         <input type="submit" id="submit" value="Подписаться" />
      </form>
      <div class="footer_links">
         <a href="/contact" class="footer_link">Контакты</a>
         <a href="/delivery" class="footer_link">Доставка</a>
         <a href="/return" class="footer_link">Возврат</a>
         <a href="/terms_conditions" class="footer_link">условия и положения</a>
         <a href="/privacy_policy" class="footer_link">политика конфиденциальности</a>
      </div>
      <p class="footer_copyright">&copy;
         <script>document.write(new Date().getFullYear())</script> NO CAP | defersye
      </p>
   </div>
</footer>
<script src="assets/js/header.js"></script>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/search.js"></script>
<script src="assets/js/cart.js"></script>