<hr class="footer_hr" />
<footer>
   <div class="container">
      <div class="footer_info">
         <h6 class="footer_title">retro pick</h6>
         <div class="footer_contacts">
            <a href="#" class="footer_contact">
               <span>Adress // </span>Altai republic, Gorno-Altaysk, Grigory
               Choros-Gurkin street, 42
            </a>
            <a href="tel:+88005553535" class="footer_contact"
               ><span>Telephone // </span>8 (800) 555-35-35</a
            >
            <a href="mailto:petropick@info.com" class="footer_contact"
               ><span>E-mail // </span>petropick@info.com</a
            >
         </div>
      </div>
      <div class="footer_socials">
         <a href="#" class="footer_social">instagram</a>
         <a href="#" class="footer_social">vkontakte</a>
         <a href="#" class="footer_social">twitter</a>
         <a href="#" class="footer_social">facebook</a>
      </div>
      <p class="footer_copyright">&copy;defersye | retro pick | 2023</p>
   </div>
</footer>
