<header>
   <div class="container">
      <div class="left">
         <div class="header_nav">
            <a href="catalog.php" class="header_link">catalog</a>
            <a href="sales.php" class="header_link">sales</a>
            <a href="search.php" class="header_link">search</a>
         </div>
      </div>
      <a href="index.php" class="header_logo">no cap</a>
      <div class="right">
         <div class="header_nav">
            <a href="account.php" class="header_link">account</a>
            <a href="liked.php" class="header_link">liked</a>
            <a href="cart.php" class="header_link">cart</a>
         </div>
      </div>
   </div>
</header>