<header>
   <script src="assets/js/header.js"></script>
   <div class="container">
      <div class="left">
         <div class="header_nav">
            <a href="/catalog" class="header_link">catalog</a>
            <a href="/sales" class="header_link">sales</a>
            <a href="/search" class="header_link">search</a>
            <!-- <input type="text" placeholder="Big black ...." class=" header_link fields__search-field"> -->
         </div>
      </div>
      <a href="/home" class="header_logo">no cap</a>
      <div class="right">
         <div class="header_nav">
            <a href="/account" class="header_link">account</a>
            <a href="/liked" class="header_link">liked</a>
            <a href="/cart" class="header_link">cart</a>
         </div>
      </div>
   </div>
</header>