<header>
   <div class="container">
      <a href="index.php" class="header_link header_logo">Retro pick</a>
      <div class="header_nav">
         <a href="catalog.php" class="header_link">catalog</a>
         <a href="cart.php" class="header_link">cart</a>
      </div>
      <div class="header_nav">
         <!-- <a href="account.php" class="header_link">account</a> -->
         <a href="sign_in.php" class="header_link">sign in</a>
         <a href="#" class="header_link header_btn">sign up</a>
      </div>
   </div>
</header>
<hr />
