a{
    text-decoration: none;
}
a:hover{
     text-decoration: none;
 }
body {
    background-color: rgb(233, 226, 223);
    font-family: "Open Sans", serif;
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}

.container {
    width: 80%;
    margin: 0px auto;
}

.box {
    border-radius: 5px;
    border-top: 4px solid rgb(166, 176, 175);
    background: rgba(255, 255, 255, 0.7);
}

header {
    margin-top: 40px;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

header ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

header li a:hover {
    text-shadow: rgb(186, 87, 111) 1px 0px 0px;
    color: rgb(186, 87, 111);
}

header nav {
    width: 50%;
}

.logo {
    height: 46px;
}

.button {
    background-color: rgb(186, 87, 111);
    color: rgb(255, 255, 255);
    padding: 8px 25px;
    display: inline-block;
    border-radius: 5px;
}
.clear-filter-button{
        background-color: white;
        color: black;
        font-size: 14px;
    width: fit-content;
        padding: 5px 20px;
        display: block;
        border-radius: 5px;
        margin-top: 20px;
        margin-left: auto;

}
.slider {
    margin-top: 64px;
    height: 60vh;
    min-height: 400px;
}

.catalog__fields {
    display: flex;

}

.fields__filters-button {
    border: 2px solid rgb(166, 176, 175);
    border-radius: 5px;
    height: 26px;
    width: 100px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 14px;
    color: rgb(166, 176, 175);
}
.fields__filters-button_active {
    color: white;
    background-color: #BA576F;
    border: #BA576F;
}


.fields__search-field {
    border-right: 2px solid rgb(166, 176, 175);
    border-top: 2px solid rgb(166, 176, 175);
    border-bottom: none;
    border-left: none;
    border-radius: 5px;
    height: 22px;
    width: 100px;
    margin-left: 7px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 14px;
    padding-left: 10px;
}
*:focus{ outline: none !important;}
.fields__search-field_active{
    background-color: white;
    border-right: 2px solid #BA576F;
    border-top: 2px solid  #BA576F;
    border-bottom: none;
    border-left: none;
    width: 200px;

}
footer {
    margin-top: 40px;
    display: flex;
    align-items: flex-end;
    padding: 10px 40px;
}

footer p {
    margin-left: 40px;
}

.filters {
    display: none;
    background-color: rgba(255, 255, 255, 0.7);
    height: 411px;
    padding: 20px;
    border-radius: 5px;
    margin-right: 14px;
    border: 1px solid rgb(186, 87, 111);
    width: 240px;

}

.filters_active {
    display: block;



}

.filters-title {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin: 20px 0 6px 0;
}

.filters__select {
    appearance: none;
    padding: 5px 20px 5px 16px;
    transition: border-color 0.1s ease-in-out 0s, box-shadow 0.1s ease-in-out 0s;
    border-top: 1px solid rgb(186, 87, 111);
    border-left: 1px solid rgb(186, 87, 111);
    border-right: none rgb(186, 87, 111);
    border-bottom: none rgb(186, 87, 111);
    border-radius: 5px;
    box-shadow: none !important;
}

.filters__select  :hover {
    outline: none !important;
}

.filters__select :focus {
    border-top: 2px solid rgb(186, 87, 111);
    border-left: 2px solid rgb(186, 87, 111);
    border-right: none rgb(186, 87, 111);
    border-bottom: none rgb(186, 87, 111);
    outline: none;
    box-shadow: none !important;
}



.catalog__container{
    display: flex;
    margin-top: 14px;
}
.catalog{
    margin-top: 35px;
}