.emailer_container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* form */
.emailer_container form {
   width: calc(100vw - 20px);
   max-width: 500px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.emailer_container textarea,
.emailer_container input,
.emailer_container select,
.emailer_container #submit {
   padding: 10px;
   width: 100%;
   border: 1px solid #ddd;
   border-bottom: 1px solid #000;
}

.emailer_container textarea {
   height: 200px;
}

.emailer_span {
   font-weight: 500;
   color: steelblue;
}

/* log */
.report {
   text-align: center;
}
.report p {
   margin-bottom: 20px;
   display: flex;
}

.report_title {
   font-weight: 500;
}
ol {
   margin: 10px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.report li {
   padding: 5px 0;
   width: fit-content;
   list-style-type: decimal;
}
.green {
   color: steelblue;
}
.red {
   color: brown;
}
