.admin {
   padding-bottom: 120px;
}
.red {
   color: brown;
   background-color: #fee;
}

/* buttons */
.table-names {
   display: flex;
   justify-content: center;
   gap: 20px;
   padding-bottom: 60px;
}
.table-name {
   padding: 10px 20px;
   font-size: 20px;
   border-bottom: 1px solid black;
}
.active {
   color: white;
   background-color: steelblue;
   background-size: 200px 200px;
   background-image: url(/assets//img/layout/texture.png);
   transition: 0.2s ease-in-out;
}
.active:hover {
   background-image: none;
}

/* table */
.table_container {
   width: 100%;
   max-width: calc(100vw - 340px - (100vw - 1440px));
   overflow-x: auto;
}
table {
   margin: 0 auto;
   width: 100%;
   max-width: fit-content;
   display: block;
   overflow-x: auto;
   white-space: nowrap;
   border-collapse: separate;
}
th {
   background-color: #eee;
   font-weight: 500;
   padding: 10px;
}
tr {
   border-bottom: 1px dashed white;
}
td {
   padding: 10px;
   max-width: 300px;
   text-align: center;
   overflow: auto;
}
td:has(button),
td:has(a) {
   padding: 0;
}
td > button,
td > a {
   background-color: #eee;
   padding: 10px;
}
td > button > img,
td > a > img {
   height: 20px;
   width: 20px;
   object-fit: contain;
}
a {
   display: block;
   text-decoration: none;
}
button {
   border: none;
}
.delete {
   background-color: #fee;
   color: #a52323;
}
.edit {
   background-color: #fefedd;
   color: #ba0;
}
.new {
   margin: 0 auto;
   margin-top: 20px;
   padding: 10px 20px;
   width: fit-content;
   display: block;
   color: steelblue;
   background-color: #e5f3ff;
   border: 1px solid steelblue;
}

/* new */ /* auth */
.auth {
   display: grid;
   place-items: center;
}
.auth .container {
   justify-content: center;
}
.form_title {
   font-size: 24px;
   font-weight: 500;
   text-transform: uppercase;
}
.form {
   padding: 10px;
   width: 100%;
   max-width: 650px;
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 25px;
}
.form_input {
   padding: 10px;
   height: 45px;
   width: 100%;
   border-bottom: 1px solid black;
}
select.form_input {
   padding: 5px;
   position: relative;
   border: 1px solid white;
   border-bottom: 1px solid black;
}
.form_btn {
   width: 100%;
   padding: 20px;
   font-size: 18px;
   text-transform: uppercase;
}

/* img */
.auth_img {
   display: flex;
   width: 100%;
}
.auth_img_text {
   padding: 10px;
   height: 45px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: start;
   float: left;
   border-bottom: 1px solid black;
}
.auth_img_btn {
   padding: 10px 20px;
   height: 45px;
   min-width: fit-content;
   display: grid;
   place-items: center;
   color: white;
   text-transform: uppercase;
   background-color: steelblue;
   background-size: 200px 200px;
   background-image: url(/assets//img/layout/texture.png);
   transition: 0.2s ease-in-out;
}
#register_img_1,
#register_img_2 {
   display: none;
}
.auth_img:hover .auth_img_btn,
.auth_img:active .auth_img_btn {
   background-image: none;
}
